.wrapper-y8IP35{align-items:center;display:flex;flex-direction:column;justify-content:center}
.qrcode-wrapper-g0iTB8{border:1px solid var(--stroke-secondary);border-radius:10px;margin-bottom:12px;overflow:hidden}
.qrcode-gq6HB7{align-items:center;display:flex;height:180px;justify-content:center;position:relative;width:180px}
.qrcode-img-top-oCDxyx{height:156px!important;width:156px!important;z-index:1}
.qrcode-hide-ZacgyM{opacity:0}
div.qrcode-img-_pA78x{height:156px;position:absolute;width:156px}
.mask-pl1iri{-webkit-backdrop-filter:blur(1px);backdrop-filter:blur(4px);background:var(--component-float-block-default);border-radius:9px;height:100%;overflow:hidden;position:absolute;width:100%;z-index:2}
.locked-mask-bLniXk,.mask-pl1iri{align-items:center;display:flex;flex-direction:column;justify-content:center}
.locked-mask-bLniXk{color:var(--text-primary);font-size:12px;text-align:center}
.agreement-button-FtNiZx{background:var(--brand-bright-default);border-radius:100px;color:var(--inverse-text-primary);font-size:13px}
.agreement-button-FtNiZx:hover{background:var(--brand-bright-hover)}
.agreement-button-FtNiZx:active{background:var(--brand-bright-pressed)}
.pay-text-VhDoIR{align-items:center;color:var(--text-secondary);display:flex;font-size:12px;gap:4px;justify-content:center}
div.pay-png-c0Civc{height:16px;width:16px}
.agreementF-hQMJXp{color:var(--text-primary);margin-bottom:4px}
.agreementS-AEjIg_{color:var(--text-primary);font-size:11px;margin-bottom:20px;text-decoration:none}
.closeBtn-H0fiJm{align-items:center;-webkit-backdrop-filter:blur(30px);backdrop-filter:blur(30px);border-radius:8px;box-sizing:border-box;color:var(--text-primary);display:flex;flex-shrink:0;gap:4px;height:36px;justify-content:center;padding:10px;width:36px}
.closeBtn-H0fiJm:hover{background:var(--bg-block-primary-hover)}
.closeBtn-H0fiJm:active{background:var(--bg-block-primary-pressed)}
.qrCodeModal-wICnaZ{border-radius:12px;gap:16px;height:100%;left:0;overflow:auto;padding:20px;position:fixed;top:0;width:100%;z-index:1001}
.qrCodeModal-wICnaZ .lv-modal-mask{-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px);background-color:rgba(0,0,0,.48);height:100%;left:0;position:fixed;top:0;width:100%;z-index:1001}
.qrCodeModal-wICnaZ .lv-modal .lv-modal-close-icon{cursor:pointer;position:absolute;right:0;top:0}
.qrCodeModal-wICnaZ .lv-modal-content{padding:0!important}
.qrCodeModal-wICnaZ .lv-modal-header{height:0}
.qrCodeModal-wICnaZ .lv-modal{align-items:center;background:var(--bg-float);border:none;border-radius:12px;box-sizing:border-box;display:inline-flex;flex-direction:column;padding:41.5px;position:relative;top:0;vertical-align:middle;width:420px;z-index:1002}
.qrCodeContainer-PHfrhM{align-items:center;display:flex;flex-direction:column}
.qrCodeContainer-PHfrhM .modalTitle-P5DcnG{color:var(--text-primary);display:flex;font-size:20px;font-style:normal;font-weight:700;line-height:28px;margin-bottom:42px}
.qrCodeContainer-PHfrhM .modalTitle-P5DcnG span{color:var(--brand-main-default);margin:0 5px}
.agreementPrivacy-geWxYy{align-items:center;color:var(--text-secondary);display:flex;flex-direction:row;font-size:12px;font-style:normal;font-weight:400;line-height:140%;margin-top:28px;white-space:nowrap}
.agreementPrivacy-geWxYy span{color:var(--text-placeholder);display:block;pointer-events:none}
.agreementPrivacy-geWxYy a{color:var(--text-secondary);text-decoration:none}
.image-eTuIBd{display:block;height:100%;width:100%}
.mweb-button-default{background:var(--component-primary-button-bg-default);color:var(--component-primary-button-text-default);cursor:pointer;padding:0 24px}
.mweb-button-default:hover{background:var(--component-primary-button-bg-hover)}
.mweb-button-default:active{background:var(--component-primary-button-bg-pressed)}
.mweb-button-default.disabled,.mweb-button-default:disabled{background:var(--component-primary-button-bg-disabled);color:var(--component-primary-button-text-disabled);cursor:not-allowed}
.mweb-button-mOrK7U{align-items:center;box-sizing:border-box;display:flex;flex-shrink:0;font-size:13px;font-style:normal;font-weight:600;gap:2px;height:36px;justify-content:center;position:relative;text-align:center;transition:background-color .16s ease}
